.full-height {
  height: 100vh !important;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.text-bold {
  font-weight: 600;
}

.main-title {
  font-weight: 600;
  font-size: 3rem;
}

img {
  width: 100%;
}

.text-not-active {
  color: #70B7FF;
}

.icon-text {
  display: inline-flex;
  vertical-align: middle;
}

.hidden {
  display: none;
}